<h2>Green Up Latest Project Data</h2>

<!-- Load up commits from green up repos -->
<!-- http://stackoverflow.com/questions/15919635/on-github-api-what-is-the-best-way-to-get-the-last-commit-message-associated-w -->